.actual_events {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 100px;

  @include on-tablet {
    margin-top: 105px;
  }

  @include on-mobile {
    margin-top: 50px;
    width: 280px;
  }
}

.actual_events_title {
  color: rgb(15, 14, 8);
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 56px;

  @include on-mobile {
    font-size: 36px;
    width: 280px;
    height: 72px;
    text-align: center;
    margin-bottom: 24px;
  }
}

.actual_events_blocks {
  display: flex;
  flex-direction: column;
  gap: 104px;
}

/* Actual_events_1 */
.actual_events_block_1 {
  display: flex;
  flex-direction: row;
  gap: 10.16vw;

  @include on-tablet {
    flex-direction: column;
  }
}

.actual_events_1 {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.actual_events_2 {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.events_text_1 {
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  height: 202px;

  @include on-tablet {
    position: absolute;
    margin-top: 560px;
  }

  @include on-mobile {
    position: absolute;
    margin-top: 260px;
    width: 280px;
  }
}

.title_block_1 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 370px;
  height: 39px;
  gap: 12px;
  align-items: center;

  @include on-mobile {
    width: 280px;
    gap: 0;
  }
}

.subtitle_block_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  height: 15px;
}

.subtitle_1 {
  color: rgb(104, 116, 128);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.subtitle_block_1_date {
  color: rgb(26, 90, 76);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
  width: 173px;
}

.title_1 {
  color: rgb(15, 14, 8);
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;

  @include on-mobile {
    font-size: 28px;
    width: 280px;
  }
}

.text_block_1 {
  margin-top: 15px;
  color: rgb(78, 78, 78);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  text-align: left;
  width: 370px;

  @include on-mobile {
    width: 280px;
    height: 100px;
    margin-top: 20px;
  }
}

.rectangle_block1 {
  width: 15px;
  height: 15px;

  @include on-mobile {
    width: 10px;
    height: 10px;
  }
}

/* Actual_events_2 */
.actual_events_block_2 {
  display: flex;
  flex-direction: row;
  gap: 10.16vw;

  @include on-tablet {
    flex-direction: column;
    margin-top: 200px;
  }
}

.events_text_2 {
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  height: 202px;

  @include on-tablet {
    position: absolute;
    margin-top: 560px;
  }

  @include on-mobile {
    position: absolute;
    margin-top: 260px;
    width: 280px;
  }
}

.title_block_2 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 370px;
  height: 39px;
  gap: 12px;
  align-items: center;

  @include on-mobile {
    width: 280px;
  }
}

.subtitle_block_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  height: 15px;
}

.subtitle_2 {
  color: rgb(104, 116, 128);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.subtitle_block_2_date {
  color: rgb(26, 90, 76);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
  width: 173px;
}

.title_2 {
  color: rgb(15, 14, 8);
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;

  @include on-mobile {
    font-size: 28px;
    width: 280px;
  }
}

.text_block_2 {
  margin-top: 15px;
  color: rgb(78, 78, 78);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  text-align: left;
  width: 370px;

  @include on-mobile {
    width: 280px;
    height: 100px;
    margin-top: 20px;
  }
}

.rectangle_block2 {
  width: 15px;
  height: 15px;

  @include on-mobile {
    width: 10px;
    height: 10px;
  }
}
