.aside-menu {
  box-sizing: border-box;
  height: 233px;
  background: rgb(26, 90, 76);
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 0.3s,
    transform 0.3s;
  pointer-events: none;
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include on-tablet {
    height: 255px;
  }

  @include on-mobile {
    height: 399px;
  }
}

.aside-menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.container_menu {
  display: flex;
  flex-direction: row;
  margin-left: 56px;
  margin-top: 40px;

  @include on-tablet {
    margin-left: 34px;
    margin-top: 39px;
  }

  @include on-mobile {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 27px;
  }
}

.aside_container_1 {
  display: flex;
  flex-direction: row;
  gap: 102px;
  padding-right: 102px;

  @include on-tablet {
    padding-right: 38px;
    gap: 38px;
  }

  @include on-mobile {
    gap: 28px;
    padding-bottom: 24px;
  }
}

.aside_block_1 {
  display: flex;
  flex-direction: row;
  gap: 31px;

  @include on-tablet {
    gap: 20px;
  }

  @include on-mobile {
    gap: 28px;
  }
}

.aside_info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 169px;
  height: 96px;

  @include on-tablet {
    gap: 24px;
    width: 100px;
    height: 72px;
  }
}

.aside_about_us {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 168px;
  height: 74px;

  @include on-tablet {
    gap: 24px;
    width: 100px;
    height: 56px;
  }
}

.aside_link {
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  transition: transform ease -in-out 0.3s;
  &:hover {
    transform: scale(1.1);
  }

  @include on-tablet {
    font-size: 16px;
  }
}

.aside_container_2 {
  display: flex;
  flex-direction: row;
  gap: 102px;

  @include on-tablet {
    gap: 38px;
  }

  @include on-mobile {
    gap: 20px;
  }
}

.aside_line {
  width: 1px;
  height: 145px;
  background: rgba(255, 255, 255, 0.5);

  @include on-mobile {
    position: absolute;
    width: 280px;
    height: 1px;
  }
}

.aside_title {
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140.63%;
  text-align: left;
  margin-top: 0;

  @include on-mobile {
    margin-top: 24px;
  }
}

p {
  margin-top: 0;
}

.aside_block_2 {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tablet {
    gap: 0;
  }
}

.aside_schedule {
  display: flex;
  flex-direction: row;
  gap: 30px;

  @include on-tablet {
    gap: 38px;
  }

  @include on-mobile {
    flex-direction: column;
    gap: 16px;
  }
}

.aside_schedule_time {
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  width: 170px;
  height: 105px;

  @include on-tablet {
    width: 158px;
    height: 105px;
  }

  @include on-mobile {
    width: 280px;
    height: 105px;
  }
}

.aside__time--bold {
  font-weight: 700;
}

.aside_schedule_weekand {
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  width: 170px;
  height: 105px;

  @include on-tablet {
    width: 144px;
    height: 105px;
  }

  @include on-mobile {
    width: 280px;
    height: 63px;
  }
}

.aside__weekends--bold {
  font-weight: 700;
}
