.button {
  margin-left: 15.16vw;
  cursor: pointer;
  color: rgb(15, 14, 8);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
  box-sizing: border-box;
  width: 270px;
  height: 70px;
  border: 1px solid #1a5a4c;
  display: flex;
  transition: transform 0.3s ease;

  @include on-tablet {
    margin-left: 0;
  }

  @include on-mobile {
    position: absolute;
    width: 280px;
    height: 50px;
    margin-top: 133px;
    left: 20px;
  }

  &:hover {
    transform: scale(1.1);
  }

  &__main {
    font-size: 16px;
    font-weight: 500;
    line-height: 70px;
    text-align: center;
    flex-grow: 1;

    @include on-mobile {
      line-height: 50px;
    }
  }

  &__rectangle {
    width: 70px;
    background-color: #1a5a4c;
    display: flex;
    justify-content: center;
    align-items: center;

    @include on-mobile {
      width: 50px;
    }
  }
}
