.footer {
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  height: 457px;
  display: flex;
  justify-content: center;

  @include on-tablet {
    height: auto;
    justify-content: space-between;
  }

  @include on-mobile {
    margin-left: 0;
  }
}

.footer__container_1 {
  display: flex;
  flex-direction: row;
  gap: 130px;

  @include on-tablet {
    gap: 20px;
  }

  @include on-mobile {
    flex-direction: column;
    margin-left: 0;
    gap: 40px;
  }
}

.footer__container_2 {
  display: flex;
  flex-direction: row;
  gap: 31px;

  @include on-tablet {
    gap: 20px;
  }

  @include on-mobile {
    margin-left: 0;
  }
}

.footer__container_3 {
  display: flex;
  flex-direction: row;
  gap: 65px;

  @include on-tablet {
    margin-left: 20px;
    flex-direction: row-reverse;
  }

  @include on-mobile {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
  }
}

.line_footer {
  background: rgba(26, 90, 76, 0.5);
  width: 1px;
  height: 260px;

  @include on-tablet {
    position: absolute;
    margin-top: 300px;
    width: 460px;
    height: 1px;
  }

  @include on-mobile {
    position: absolute;
    width: 280px;
    height: 1px;
    margin-top: 548px;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 62px;
  width: 70.09px;
  height: 158px;

  @include on-tablet {
    width: 98px;
    gap: 0;
  }

  @include on-mobile {
    flex-direction: row;
    align-items: center;
    gap: 145px;
    margin-left: 0;
    height: 72px;
  }
}

.footer__text {
  position: absolute;
  color: rgb(15, 14, 8);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 140.63%;
  text-align: left;
  display: flex;
  flex-direction: row;
  bottom: 34px;
  gap: 709px;

  @include on-tablet {
    text-align: center;
    gap: 262px;
  }

  @include on-mobile {
    flex-direction: column-reverse;
    gap: 0;

    justify-content: center;
  }
}

.footer__text1 {
  width: 270px;
  height: 17px;

  @include on-mobile {
    text-align: center;
    width: 280px;
    height: 17px;
  }
}

.footer__text2 {
  width: 167px;
  height: 17px;

  @include on-mobile {
    text-align: center;
    width: 280px;
    height: 17px;
  }
}

.footer__logo-text {
  cursor: pointer;
  color: rgb(15, 14, 8);
  font-family: Montserrat-semi, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 22px;

  @include on-tablet {
    gap: 32px;
  }
}

.footer__social-link {
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

/* Footer shedule */
.work_schedule {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tablet {
    gap: 10px;
  }

  @include on-mobile {
    width: 130px;
    height: 336px;
  }
}

.work_schedule_title {
  color: rgb(15, 14, 8);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
}

.footer__time-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 170px;
  height: 231px;

  @include on-tablet {
    width: 220px;
    height: 210px;
  }

  @include on-mobile {
    width: 130px;
  }
}

.footer__time {
  color: rgb(15, 14, 8);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  &--bold {
    font-weight: 700;
  }
}

.footer__weekends {
  color: rgb(15, 14, 8);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  &--bold {
    font-weight: 700;
  }
}

/* Footer contacts */

.footer_block_2 {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include on-tablet {
    width: 220px;
    gap: 10px;
  }

  @include on-mobile {
    width: 130px;
  }
}

.footer__link-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__title {
  color: rgb(15, 14, 8);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
}

.footer__link {
  color: rgb(15, 14, 8);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  text-decoration: none;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
    font-weight: 700;
  }
}

/* Footer info_2 */
.footer__menu {
  display: flex;
  flex-direction: row;
  gap: 65px;
  margin-top: 48px;

  @include on-tablet {
    margin-top: 51px;
    flex-direction: column;
    margin-left: 8px;
    gap: 100px;
  }

  @include on-mobile {
    margin-top: 50px;
    margin-left: 20px;
    gap: 61px;
  }
}

.footer__block_3 {
  display: flex;
  flex-direction: row;
  gap: 32px;

  @include on-tablet {
    gap: 20px;
    padding-left: 138px;
  }

  @include on-mobile {
    padding-left: 0;
  }
}

.footer__info_1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 170px;
  height: 231px;

  @include on-mobile {
    width: 130px;
  }
}

.footer__info_2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 170px;
  height: 231px;

  @include on-mobile {
    width: 130px;
    height: 280px;
  }
}

.footer__link_1 {
  color: rgb(15, 14, 8);
  font-family: 'IBM Plex Sans-semi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .footer_br {
    display: none;
  }
}

.footer_button {
  display: flex;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(26, 90, 76);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 230px;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .footer_button {
    display: none;
  }
}
