.gallery {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 2404px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

@media (max-width: 1279px) {
  .gallery {
    display: none;
  }
}

.gallery_imeges {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gallery_imeges_block1_horisont {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.gallery_imeges_block2_horisont {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.gallery_title {
  color: rgb(15, 14, 8);
  font-family: Montserrat-semi, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
}

.gallery_1 {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.gallery_2 {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.gallery_3 {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.gallery_4 {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
