.swiper {
  overflow: hidden; /* Скрыть выходящие за пределы слайдера */
  cursor: pointer;

  @include on-tablet {
    margin-top: 2656px;
    padding-left: 50px;
  }

  @include on-mobile {
    margin-top: 1675px;
  }
  .swiper-wrapper {
    padding-left: 35px;

    @include on-mobile {
      padding-left: 20px;
    }
  }
  .swiper-slide {
    max-width: 340px;
    height: 543px;
    overflow: hidden;
    margin-bottom: 42px;

    @include on-desktop {
      display: none;
    }

    @include on-mobile {
      max-width: 280px;
      height: 410px;
      margin-bottom: 30px;
    }
    &--slide_5 {
      @include on-mobile {
        display: none;
      }
    }
  }
  .swiper_image {
    width: 340px;
    height: 100%;
    object-fit: cover;

    @include on-mobile {
      width: 280px;
      height: 100%;
    }
  }
  .swiper-pagination {
    display: flex;
    gap: 22px;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    margin: 0 !important;
    height: 9px;
    width: 9px;
  }

  .swiper-pagination-bullet-active {
    background-color: rgb(26, 90, 76); /* Пример цвета */
  }
}

.swiper_title {
  color: rgb(15, 14, 8);
  font-family: Montserrat-semi, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 35px;

  @include on-mobile {
    text-align: center;
    font-size: 36px;
  }

  @include on-desktop {
    display: none;
  }
}
