.top_block {
  position: relative;
  height: 655px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 2.34vw;

  @include on-tablet {
    height: 384px;
    gap: 0;
  }

  @include on-mobile {
    height: 483px;
    width: 320px;
    flex-direction: column;
    gap: 0;
  }
}

.top_image_block {
  width: 56.64vw;
  background-image: url(../images/Natsionalnij-hudozhnij-muzej-Ukrayini-Kiyiv-10-1800x1200.png);

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  @include on-tablet {
    height: 384px;
    width: 48.7vw;
  }

  @include on-mobile {
    height: 300px;
    width: 100%;
  }
}

.top_info_block {
  width: 41.02vw;
  display: flex;
  flex-direction: column;

  padding-left: 4.3vw;

  @include on-tablet {
    padding-left: 24px;
    width: 52vw;
  }

  @include on-mobile {
    height: 183px;
    width: 100%;
  }
}

.logo {
  position: absolute;
  width: 170px;
  height: 72px;
  margin-left: 0;
  top: 15px;
  color: rgb(15, 14, 8);
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;

  @include on-tablet {
    margin-top: 0;
  }

  @include on-mobile {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.menu {
  margin-top: 45px;

  @include on-tablet {
    margin-top: 39px;
  }

  @include on-mobile {
    position: absolute;
    top: -10px;
  }
}

.title {
  color: rgb(0, 0, 0);
  font-family: Montserrat-semi, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  margin-top: 149px;

  @include on-tablet {
    font-size: 54px;
    margin-top: 64px;
  }

  @include on-mobile {
    position: absolute;
    font-size: 45px;
    margin-top: 20px;
    text-align: center;
  }
}

.events_text {
  position: absolute;
  margin-top: 520px;
  width: 5px;
  height: 14px;
  transform: rotate(-90deg);
  color: rgb(104, 116, 128);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
  text-align: left;

  @include on-tablet {
    display: none;
  }
}

.events_strip {
  position: absolute;
  margin-top: 565px;
  width: 1px;
  height: 90px;

  @include on-tablet {
    display: none;
  }
}
