@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/Ibmplexsansbold.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-semi;
  src: url(../fonts/Montserrat-SemiBold.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans-semi';
  src: url(../fonts/Ibmplexsans.woff2);
  font-weight: normal;
  font-style: normal;
}
