@import 'utils';
@import 'fonts';
@import 'blocks/top_bar';
@import 'blocks/actual_events';
@import 'blocks/button';
@import 'blocks/center_picture';
@import 'blocks/gallery';
@import 'blocks/swiper';
@import 'blocks/subscription';
@import 'blocks/footer';
@import 'blocks/aside_menu';

body {
  scroll-behavior: smooth;
  background: rgb(255, 255, 255);
  margin: 0;
}

* {
  box-sizing: border-box;
}
